# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# React.js project specific ignores
# build output
/build

# env files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# production
# build output
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
